body{
  /* background: #E2D1A5 */
}
h2{
  text-transform: uppercase;
  font-weight: bold;
}

h4{
  text-transform: uppercase;
  font-weight: bold;
  position:sticky
}

.sideBar{
  position:sticky;
  flex-direction: column;
  color:white;
  margin: 80px;
  columns:auto;
  flex-basis: 15rem;
  flex-grow: 1;
  height: 100%;
  float: right;
  top:100px;
  margin-top: 100px;
  padding-top: 0px;
}
.sidebarPage{
  display: flex;
  flex-wrap: wrap;
}
.scrollComponent{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
  min-height: 500px;
  color:white;
  justify-content:flex-start;
}
.scrollComponent 
  h2{
  position:sticky;
  grid-area: 1 / 1 / 2 / 4;
  margin-top: 100px;
  top:75px;
  
}