body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
/*NAVBAR*/
.navbar{
    display: flex;
    height: 68px;
    background: rgba(0, 0, 0, 0.7);
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
}
.logo{
    color: white;
}
.navbar_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    list-style-type: none;
    color: white;
}