body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(112.87deg, rgba(20, 139, 125, 0.903125) -11.18%, rgba(8, 69, 62, 0.8) -11.16%, rgba(10, 68, 155, 0.8) 125.44%);
  background-repeat: no-repeat;
  height: 100%;
}
html{
  min-height: 100vh;
}
a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
/*NAVBAR*/
.navbar{
    display: flex;
    height: 68px;
    background: rgba(0, 0, 0, 0.7);
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
}
.logo{
    color: white;
}
.navbar_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 30vw; */
    list-style-type: none;
    color: white;
}
.prompt_section{
    margin: 30px 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.prompt_div{
    background: rgba(0, 0, 0, 0.6);
    width: 50%;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25), 4px 4px 8px rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
    border-radius: 20px;
    color: white;
}
.prompt_interaction{
    flex-basis: calc(50% - 7rem);
    max-width: 500px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
}
.user_score{
    font-size: 4rem;
}
.record_audio_button{
    margin: 0;
    background: #1D3B4B;
    font-size: 3rem;
    border-radius: 100px;
    text-align: center;
    padding: 10px 30px;
}
.test_result{
    background: #1D3B4B;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
}
.speech_div{
    background: rgba(0, 0, 0, 0.6);
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25), 4px 4px 8px rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
    border-radius: 20px;
    color: white;
}
.service-container{
  width:30%;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25), 4px 4px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  border-radius: 20px;
  color: white;
}
.btn{
  /* background: #1D3B4B; */
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 10px;
}
.record{
  background: rgb(255, 124, 124);
}
.response{
  padding: 1rem;
  min-height: 5rem;
  border-radius: 10px;
}
.home-div{
  background-color: red;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25), 4px 4px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  border-radius: 10px;
  margin: 30px 10%;

}
.home-div, .prompt-control, .prompt, .service-container, .prompt_div{
    animation-duration: 1s;
  animation-name: slideIn;
}
@keyframes slideIn{
  0%{
    opacity: 0;
    translate: 0px 20px;
  }
  100%{
    opacity: 1;
    translate: 0px 0px;
  }
}
.home-header{
  font-size: 2rem; 
}
.home-links{
  font-weight: bold;
  color: white;
}
.prompt-control{
  background: rgba(255, 255, 255, 0.5);
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25), 4px 4px 8px rgba(0, 0, 0, 0.25);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.prompt-page{
  display: flex;
  flex-wrap: wrap;
  margin: 30px 10%;
  gap: 1rem;
}
.prompt-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  
}
.prompt{
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25), 4px 4px 8px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  min-width: 300px;
}
.prompt:hover{
  transform: scale(1.05);
  transition: .3s ease-in-out;
}
.title{
  color: white;
  font-weight: 500;
  font-style: italic;
}