.navbar{
    display: flex;
    height: 90px;
    background-color: transparent;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px;
    box-shadow: none;
}

.logo{
    height: 60px;
}

.navbar_list{
    display: flex;
    margin: 0;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 30vw;
    min-width: fit-content;
    list-style-type: none;
    color: white;
}